%h2 About

#content
  .row
    .span10
      %p
        Just a simple Bingo Card creator I whipped up in preparation of the 2012
        Presidential Debates starting on Wednesday, October 3rd, 2012. Watch them
        %a{href: "http://www.youtube.com/user/politics"} Live on YouTube
        , at the local offices of your candidate of choice, or any one of the many
        %a{href: "http://www.pbs.org/"}Public Broadcasting options
        , or commercial offerings as well on any news channel.
    .span2
      %img{src: '/images/youtube.jpg', class: 'img-rounded'}

  .row
    .span12
      %p
        &nbsp;

  .row
    .span12
      %p
        Refresh the page to generate new random Bingo cards.
        Print one off and use it during the debates. If you get
        5 in a row, take a shot or drink a beer, or imbibe in
        your favorite beverage.
  .row
    .span12
      %p
        Created by
        %a{href: "https://github.com/uxp"}Howard Logsdon (uxp)
        . Original idea and additional contributions from members of the
        %a{href: "http://forums.somethingawful.com/forumdisplay.php?forumid=46"}Something Awful forums
