
.card

  %table.table.table-bordered
    %thead
      %tr
        %th B
        %th I
        %th N
        %th G
        %th O
    %tbody
      - @card.grid.each do |row|
        %tr
          - row.each do |column|
            %td
              %p= column


