
.card

  %table
    %thead
      %tr
        %th B
        %th I
        %th N
        %th G
        %th O
    %tbody
      - @card.values.each do |row|
        %tr
          - row.each do |column|
            %td
              %p= column


